<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waiting.waitingnow.mapper.memberMapper">

    <insert id="insert">
        insert into member (member_number, member_name, member_email, member_phone, member_password, member_store_name, member_store_phone, member_store_category, member_preorder)
        values (#{memberNumber}, #{memberName}, #{memberEmail}, #{memberPhone}, #{memberPassword}, #{memberStoreName}, #{memberStorePhone}, #{memberStoreCategory}, #{memberPreorder})
    </insert>

    <select id="selectByid" resultType="com.waiting.waitingnow.domain.memberVO">
        select * from member where member_number = #{memberNumber}
    </select>

    <!-- 이메일로 비밀번호 찾기 -->
    <select id="selectByMemberEmail" resultType="String">
        select member_password from member where member_email = #{memberEmail}
    </select>

    <!-- 선주문 가능 여부 설정하기 -->
    <update id="updatePreorderAvailable">
        update member set member_preorder = #{memberPreorder}}
        where member_number = #{memberNumber}
    </update>

</mapper>

