<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waiting.waitingnow.mapper.menuMapper">

    <insert id="insert">
        insert into menu (menuNumber, menuName, menuPrice, menuFile, menuCategory, memberNumber)
        values (#{menuNumber}, #{menuName}, #{menuPrice}, #{menuFile}, #{menuCategory}, #{memberNumber})
    </insert>

    <select id="selectByid" resultType="com.waiting.waitingnow.domain.MenuVO">
        select * from menu where menuNumber = #{menuNumber}
    </select>

    <select id="selectPreorderVOByid" resultType="com.waiting.waitingnow.DTO.MenuPreorderVO">
        select * from menu where menuNumber = #{menuNumber}
    </select>

    <!-- 이메일로 비밀번호 찾기 -->
    <select id="selectByMember" resultType="com.waiting.waitingnow.domain.MenuVO">
        select * from menu where memberNumber = #{memberNumber}
    </select>

    <!-- 메뉴 변경하기 -->
    <update id="update">
        update menu set menuName = #{menuName}, menuPrice = #{menuPrice}, menuFile=#{menuFile}, menuCategory = #{menuCategory}, menuOption = #{menuOption}
        where memberNumber = #{memberNumber}
    </update>

    <!-- 메뉴 번호로 지우기 -->
    <delete id="delete">
        delete from menu where menuNumber = #{menuNumber}
    </delete>


</mapper>

