<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waiting.waitingnow.mapper.optionPreorderMapper">

    <insert id="insert">
        insert into optionpreorder (optionPreorderKey, optionMenuKey, preorderNumber)
        values (#{optionPreorderKey}, #{optionMenuKey}, #{preorderNumber})
    </insert>

    <select id="selectOptionLastNumber" resultType="int">
        select count(*) from optionpreorder
    </select>

    <select id="selectOptionsByPreorderNumber" resultType="com.waiting.waitingnow.domain.OptionPreorderVO">
        select * from optionpreorder where preorderNumber = #{preorderNumber}
    </select>

    <!-- 선주문 번호로 지우기! -->
    <delete id="delete">
        delete from optionpreorder where preorderNumber = #{preorderNumber}
    </delete>

</mapper>

