<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waiting.waitingnow.mapper.preorderMapper">

    <insert id="insert">
        insert into preorder (preorderNumber, waitingNumber, menuNumber, preorderMenuCount)
        values (#{preorderNumber}, #{waitingNumber}, #{menuNumber}, #{preorderMenuCount})
    </insert>

    <select id="selectByid" resultType="com.waiting.waitingnow.domain.PreorderVO">
        select * from preorder where preorderNumber = #{preorderNumber}
    </select>

    <!-- 웨이팅 번호로 탐색-->
    <select id="selectByWaiting" resultType="com.waiting.waitingnow.domain.PreorderVO">
        select * from preorder where waitingNumber = #{waitingNumber}
    </select>

    <select id="selectLastNumber" resultType="int">
        select count(*) from preorder
    </select>

    <select id="selectMenuCount" resultType="int">
        select preorderMenuCount from preorder where preorderNumber = #{preorderNumber}
    </select>

    <delete id="delete">
        delete from preorder where preorderNumber = #{preorderNumber}
    </delete>



</mapper>

