<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.waiting.waitingnow.mapper.waitingMapper">

    <insert id="insert">
        insert into waiting (waitingNumber, waitingCustomerNumber, waitingPhone, waitingPeople, waitingDate, waitingAvailable, memberNumber)
        values (#{waitingNumber}, #{waitingCustomerNumber}, #{waitingPhone}, #{waitingPeople}, #{waitingDate}, #{waitingAvailable}, #{memberNumber})
    </insert>

    <select id="selectByid" resultType="com.waiting.waitingnow.domain.WaitingVO">
        select * from waiting where waitingNumber = #{waitingNumber}
    </select>

    <!-- 사장 마다 상태에 따라 선별 -->
    <select id="selectByWaitingAvailable" resultType="com.waiting.waitingnow.domain.WaitingVO">
        select * from waiting where waitingAvailable = #{waitingAvailable} and memberNumber = #{memberNumber}
    </select>

    <!-- 통계 : 날짜로 검색 -->
    <select id="selectByDate" resultType="com.waiting.waitingnow.domain.WaitingVO">
        select * from waiting, member where waiting.memberNumber = #{memberNumber} and member.memberNumber = #{memberNumber} and waitingDate like #{waitingDate}
    </select>

    <!-- 웨이팅 상태 변경하기 -->
    <!-- TODO 추후 전화번호로 바꾸어도 됨. -->
    <update id="updateWaitingAvailable">
        update waiting set waitingAvailable = #{waitingAvailable}
        where waitingNumber = #{waitingNumber} and  waitingAvailable = #{waitingAvailable}
    </update>



</mapper>

