.back {
  background-color: #FDF6B2;
}

.background {
  height: 864px;
  width: 1536px;
  background-color: #FFFFFF;

  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 712px;
  width: 843px;

  text-align: center;
  position: relative;
}

.text32 {
  font-size: 32px;
  color: #A9A9A9;
}

.text48 {
  font-size: 48px;
  margin-top: 2%;
  margin-bottom: 0;
}

.text220 {
  font-size: 220px;
  margin: 0;
  font-weight: bold;
}

.text40 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.orderBtn {
  border: 0;
  background-color: transparent;
  width: 421px;
  height: 95px;
  border: solid 1px #FF9B26;
  background: #FF9B26;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 90px;
}

.backBtn {
  border: 0;
  background-color: transparent;
  width: 421px;
  height: 95px;
  border: solid 1px #CBCBCB;
  background: #CBCBCB;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 90px;
}

.modalFlex {
  display: flex;
  position: absolute;
  bottom: 0;
}