#back {
  background-color: #FDF6B2;
  height: 864px;
}

#background {
  height: 864px;
  width: 1536px;
  background-color: #FFFFFF;

  margin: auto;
  position: relative;
}

#inputTel {
  height: 25%;
  width: 60%;
  margin-left: auto;

  text-align: center;
  padding-top: 0;
  color: #A9A9A9;
  display: flex;
  flex-direction: column;
  border-left: solid 2px #A9A9A9;
}

#telInput {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  height: 80px;
  font-size: 60px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 3px;
  padding-left: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#inputTelNum {
  width: 60%;
  height: 75%;
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-left: auto;
}

.num {
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  border: solid 1px #A9A9A9;
}


#backspace {
  width: 100px;
  height: 90px;
}

.backgroundWhite {
  background: #FFFFFF;
  border: solid 1px #A9A9A9;
}

.input {
  background: #FF9B26;
  color: #FFFFFF;
  font-size: 65px;
  text-align: center;
  line-height: 150px;
  text-decoration: none;
  border: solid 1px #A9A9A9;
  height: 100%;
  width: 100%;
}