#back {
  background-color: #FDF6B2;
  height: 864px;
}

#background {
  height: 864px;
  width: 1536px;
  background-color: #FFFFFF;

  margin: auto;
  position: relative;
}

.inputForm {
  width: 50%;
  height: 10%;
  size: 20px;
}