/* 공통 */
button {
  border: 0;
  background-color: transparent;
}

.backgroundColor {
  background-color: #000000;
}

.background {
  height: 864px;
  width: 1536px;

  margin: auto;
  position: relative;
}

.marginLeft15 {
  margin-left: 15px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginBottom40 {
  margin-bottom: 40px;
}

.marginRight15 {
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}

.font48 {
  font-size: 48px;
}

.text32 {
  font-size: 32px;
  color: #A9A9A9;
}

.text30 {
  font-size: 30px;
  margin-top: 10px;
}

.text40 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.text220 {
  font-size: 220px;
  margin: 0;
  font-weight: bold;
}

.text48 {
  font-size: 48px;
  margin-top: 2%;
  margin-bottom: 0;
}

.text25 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 4px;
  height: 30px;
  overflow: hidden;
}

.text20 {
  font-size: 20px;
  margin: 2px;
  margin-left: 3px;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
  padding: 1%;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexBaseline {
  display: flex;
  align-items: baseline;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.justifyContentSpace {
  justify-content: space-evenly;
  align-items: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentStart {
  justify-content: flex-start;
}

.overflowAuto {
  overflow: auto;
}

/* WaitingLogin.tsx */
#title {
  font-weight: bold;
  color: #FF9B26;
  margin-top: 10px;
  margin-bottom: 5px;
}

#inputLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputNumber, #inputPassword {
  width:700px;
  height:80px;
  font-size: 40px;
}

.label {
  width:700px;
}

.labelFont {
  font-size: 25px;
}

#loginBtn {
  width: 150px;
  height: 50px;
  background-color: #FF9B26;
  border-color: #FF9B26;
  border-radius: 10px;
  color: #FFFFFF;

  font-size: 20px;

  border: 0;
  outline: 0;
}

/*  Main.tsx */
#waitingInformation {
  width: 95%;
  height: 239px;
  margin-bottom: 1%;
  background-color: #000000;
  
  position: absolute;
  bottom: 0;
  left: 2.5%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#waitingTime {
  background: #747474;
  height: 239px;
  width: 100%;
}

#textBox {
  margin-left: 3%;
  display: flex;
}

#font_small {
  line-height: 550%;
  font-size: 50px;
  color: #FFFFFF;
}

#font_big {
  line-height: 5%;
  font-size: 150px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 1%;
  margin-right: 1%;
}

#goWaiting {
  background-color: #FF9B26;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 800%;
  font-weight: bold;
  height: 239px;
  color: #FFFFFF;
}

/* MainTel.tsx */
#inputTel {
  height: 25%;
  width: 60%;
  margin-left: auto;

  text-align: center;
  padding-top: 0;
  color: #A9A9A9;
  display: flex;
  flex-direction: column;
  border-left: solid 2px #A9A9A9;
}

#telInput {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  height: 80px;
  font-size: 60px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 3px;
  padding-left: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#inputTelNum {
  width: 60%;
  height: 75%;
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-left: auto;
}

.num {
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  border: solid 1px #A9A9A9;
}


#backspace {
  width: 100px;
  height: 90px;
}

.backgroundWhite {
  background: #FFFFFF;
  border: solid 1px #A9A9A9;
}

.input {
  background: #FF9B26;
  color: #FFFFFF;
  font-size: 65px;
  text-align: center;
  line-height: 150px;
  text-decoration: none;
  border: solid 1px #A9A9A9;
  height: 100%;
  width: 100%;
}

/* MainNum.tsx */
#MainNumBackground {
  height: 864px;
  width: 1536px;
  background-color: #FFFFFF;

  margin: auto;
  position: relative;
}

#inputNum {
  width: 60%;
  height: 100%;
  margin-left: auto;
  border-left: solid 2px #A9A9A9;
}

#title {
  font-size: 48px;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 0;
  font-weight: bold;
  color: #A9A9A9;
}

#alert {
  font-size: 20px;
  margin-left: 1.5%;
  margin-top: 1%;
  margin-bottom: 5%;
  color: #A9A9A9;
}

.number {
  font-size: 60px;
  margin: 0;
  margin-right: 1%;
  margin-left: 1%;
}

.btnSet {
  border: solid 1px #FF9B26;
  border-radius: 50%;
  background: #FF9B26;
  padding: 15%;
}

.btn {
  border: 0;
  background-color: transparent;
  width: 90px;
  height: 90px;
}

.flexBetween {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  margin-right: 2%;
}

.btns {
  width: 100%;
  margin-top: auto;
  height: 56%;

  display: flex;
  align-items: flex-end;
}

.beforeBtn {
  background-color: #CBCBCB;
  width: 50%;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
}

.completeBtn {
  background-color: #FF9B26;
  width: 50%;
  height: 100px;
}

#completeBtn {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  background-color: #FF9B26;
  width: 100%;
  height: 100%;
}

/* completeModal.tsx */
.modal {
  height: 712px;
  width: 843px;

  text-align: center;
  position: relative;
}

.orderBtn {
  border: 0;
  background-color: transparent;
  width: 421px;
  height: 95px;
  border: solid 1px #FF9B26;
  background: #FF9B26;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 90px;
}

.backBtn {
  border: 0;
  background-color: transparent;
  width: 421px;
  height: 95px;
  border: solid 1px #CBCBCB;
  background: #CBCBCB;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 90px;
}

.modalFlex {
  display: flex;
  position: absolute;
  bottom: 0;
}

#modalBackground {
  height: 864px;
  width: 1536px;
  background-color: #FFFFFF;

  margin: auto;
  position: relative;

  display: flex;
  justify-content: center;
}

/* MenuMain */

#foodMenu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

#menuInformation {
  height: 420px;
  border: solid 0.5px #E5E5E5;
}

#cart {
  width: 30%;
  height: 100%;
}

#cartMenu {
  height: 70%;
}

#cartSave {
  height: 30%;
}

#saveBtn {
  height: 120px;
  width: 90%;
  background-color: #FF9B26;
  color: #FFFFFF;
  border-radius: 20px 0px 20px 20px;
  justify-content: center;
}

#binBtn {
  width: 90%;
  height: 75px;
  color: #000000;
  border: solid 1px #000000;
  border-radius: 20px 0px 20px 20px;
  justify-content: center;
}

#menuTitle {
  border: solid 3px #000000;
  border-right: none;
  border-left: none;
  border-top: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

#oneMenu {
  overflow: auto;
  font-size: 30px;
  height: 515px;
  padding: 10px 0px 10px 20px;
}

.minusbtn {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.cancelbtn {
  height: 50px;
  width: 100px;
  font-size: 20px;
  color: #FF9B26;
  border: solid 3px #FF9B26;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#num {
  font-size: 35px;
  margin: 0px;
}

#menuContainer {
  height: 35px;
  white-space: nowrap;
  overflow: auto;
  overflow: hidden;
  margin-top: 10px;
}

/* MenuModal.tsx */

#MenuModal {
  border-radius: 10px;
  width: 50%;
  height: 40%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 5px;

  display: grid;
  grid-template-columns: 10fr 1fr;
}

#modalCancelBtn {
  width: 40px;
  height: 40px;
}