body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* form */
.form {
  width: 826px;
  align-items: center;
}

.form .form_signup {
  width: 826px;
  display: flex;
  flex-direction: column;
}

.form_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 117px;
}

.form_block label {
  width: 220px;
  font-weight: 500;
  font-size: 32px;
}

.form_block input {
  width: 600px;
  height: 40px;
  padding: 10px 10px;
  font-size: 28px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #8c8c8c;
}

.form_block .form_block-phone {
  width: 600px;
}

#phone.phone-input {
  width: 427px;
  height: 40px;
}

.btn-auth {
  width: 165px;
  height: 64px;
  font-size: 21px;
  font-weight: 700;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-submit {
  margin: 0;
  width: 1536px;
  height: 76px;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  border: 1px solid transparent;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #ff9400;
  color: white;
  border: 1px solid transparent;
  outline: 0;
}
